*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;

}

h1, p, span {
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}


h1 {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 2.5rem;
    color: hsl(229, 23%, 23%)
}

span, .location, .label{
    color: hsl(227, 10%, 46%);

}

.location {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}

.stat-numbers {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    margin-top: 2.5rem;
    color: hsl(229, 23%, 23%)

}

.label {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: 0.3rem;
}

span {
    font-weight: 400;
    margin-left: 0.8rem;
}


section {
    height: 100vh;
    background-color:  hsl(185, 75%, 39%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 36rem;
    background-color: white;
    border-radius: 2rem;
    overflow: hidden;
}

.card-header {
    height: 15rem;
    background-image: url('./images/bg-pattern-card.svg');
    background-size: cover;
    
}

.profile-pic img {
    width: 100%;
    height: auto;
    display: block;
}

img {
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer {
    width: 100%;
    border-top: 1px solid hsl(226, 25%, 83%);
    margin-top: 2.5rem;
}

.footer-wrapper {
    display: flex;
    margin: auto 5rem;
    align-items: center;
    
}

.stats {
    padding-bottom: 2.5rem;
    text-align: center;
    padding-right: 3rem;

}

.center-stat {
    padding-right: 4.8rem;
}

